.card{
    display: flex;
    align-items: center;
    gap: 20px;
}

.cardImg{
    flex-shrink: 0;
    position: relative;
    width: 96px;
    height: 96px;
}
.cardImg img{
    border-radius: 8px;
    object-fit: cover;
}


.cardDescription{
    margin-top: 4px;
    opacity: 0.6;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}